{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h3>All Leaves</h3>
    <table class="table table-bordered mt-3">
        <thead>
            <tr>
                <th>ID</th>
                <th>Worker</th>
                <th>From</th>
                <th>To</th>
                <th>Reason</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for leave in leaves %}
            <tr>
                <td>{{ leave.id }}</td>
                <td>{{ leave.user.username }}</td>
                <td>{{ leave.from_date }}</td>
                <td>{{ leave.to_date }}</td>
                <td>{{ leave.reason }}</td>
                <td>{{ leave.status|capfirst }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}