{% load static %}

<link href="{% static 'css/style.css' %}" rel="stylesheet">
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Railway System</title>

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- iCREAM CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-white shadow">
    <a class="navbar-brand text-primary" href="/">🚆 Railway System</a>

    <div class="ml-auto">
        <a href="/" class="btn btn-light">Home</a>
        <a href="{% url 'admin_dashboard' %}" class="btn btn-primary">Admin</a>
        <a href="{% url 'login_view' %}" class="btn btn-success">Login</a>
    </div>
</nav>

<!-- Page Content -->
{% block content %}
{% endblock %}

<!-- JS -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

</body>
</html>